<div class="breadcrumbs">
  <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
    {{ template "breadcrumbnav" (dict "p1" . "p2" . "i" 1) }}
  </ul>
</div>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ $n := add .i 1 }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "i" $n )  }}
{{ end }}
{{ if not (eq .p1.RelPermalink "/") }}
<li {{ if eq .p1 .p2 }}class="crumb-active"{{ end }} itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
  <a itemprop="item" typeof="WebPage" href="{{ .p1.Permalink }}">
    <span itemprop="name">{{ .p1.LinkTitle }}</span>
    <meta itemprop="position" content="{{ .i }}">
  </a>
</li>
{{end}}
{{ end }}