<nav class="vacuum-navigation">
   <vacuum-desktop-navigation>
        {{ $currentPage := . }}
        {{ range $index, $element := .Site.Menus.vacuum.ByWeight }}
        <vacuum-nav-item position={{ add $index 1 }} url="{{ $element.URL }}" name="{{ $element.Name }}" {{- if $currentPage.IsMenuCurrent "vacuum" . }}open='true'{{end}}{{- if $currentPage.HasMenuCurrent "vacuum" . }}open='true'{{end}}>
        {{- if .HasChildren -}}

        <ul class="navigation-children">
        {{- range .Children -}}
            {{- $f := .Page}}
            {{- if $f.Params.skip_nav }}<!--skip rendering -->{{ else }}
            {{- $class := "child-nav" -}}
            {{- if $currentPage.IsMenuCurrent "vacuum" . -}}
            {{- $class = "active-child-nav" -}}
            {{- end -}}
            {{- if $currentPage.IsDescendant $f -}}
            {{ $class = "active-child-nav" -}}
            {{- end -}}
            <li class="{{ $class }}">
            {{- if $currentPage.IsMenuCurrent "vacuum" . }}{{ .Name }}{{end}}
            {{- if not ($currentPage.IsMenuCurrent "vacuum" .) }}<a href="{{ .URL }}">{{ .Name }}</a>{{end}}
            </li>
            {{- end -}}
        {{- end -}}
        </ul>
        {{- end -}}
        </vacuum-nav-item>
        {{- end -}}
   </vacuum-desktop-navigation>
</nav>
<mobile-nav>
    <ul class="mobile-nav" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    {{ $currentPage := . }}
    {{ range $index, $element := .Site.Menus.vacuum }}
    {{ if $element.HasChildren }}
    {{ range $element.Children }}
    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="mobile-nav {{ if $currentPage.IsMenuCurrent "vacuum" . }}active-section{{ end }}">
      <a href="{{ .URL }}" itemprop="item"><span itemprop="name">{{ .Name }}</span></a>
      <meta itemprop="position" content={{ $index }}>
    </li>
    {{ end }}
    {{ end }}
    {{ end }}
    </ul>
</mobile-nav>
