<nav class="vacuum-navigation">
   <vacuum-desktop-navigation>
        {{ $currentPage := . }}
        {{ range .Site.Menus.vacuum.ByWeight }}
        <vacuum-nav-item url="{{ .URL }}" name="{{ .Name }}" {{- if $currentPage.IsMenuCurrent "vacuum" . }}open='true'{{end}}{{- if $currentPage.HasMenuCurrent "vacuum" . }}open='true'{{end}}>
        {{- if .HasChildren -}}

        <ul class="navigation-children">
        {{- range .Children -}}
            {{- $f := .Page}}
            {{- if $f.Params.skip_nav }}<!--skip rendering -->{{ else }}
            {{- $class := "child-nav" -}}
            {{- if $currentPage.IsMenuCurrent "vacuum" . -}}
            {{- $class = "active-child-nav" -}}
            {{- end -}}
            {{- if $currentPage.IsDescendant $f -}}
            {{ $class = "active-child-nav" -}}
            {{- end -}}
            <li class="{{ $class }}">
            {{- if $currentPage.IsMenuCurrent "vacuum" . }}{{ .Name }}{{end}}
            {{- if not ($currentPage.IsMenuCurrent "vacuum" .) }}<a href="{{ .URL }}">{{ .Name }}</a>{{end}}</li>
            {{- end -}}
        {{- end -}}
        </ul>
        {{- end -}}
        </vacuum-nav-item>
        {{- end -}}
   </vacuum-desktop-navigation>
</nav>
<mobile-nav>
    <ul class="mobile-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.vacuum }}
    {{ if .HasChildren }}
    {{ range .Children }}
    <li class="mobile-nav {{ if $currentPage.IsMenuCurrent "vacuum" . }}active-section{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    {{ end }}
    {{ end }}
    </ul>
</mobile-nav>
