{{ define "main" }}
<div class="main-container">
     <section class="content-container">
          <article class="article-content">

               <time datetime="{{ .Date}}">{{ dateFormat "January 2, 2006" .Date }}</time>
               <h1 class="article-title">{{.Title}}</h1>
               <div class="article-strapline">
                    <em>{{ .Params.strapline }}</em>
               </div>
               <hr />
               <section class="article-body">
               {{.Content}}
               </section>
     </section>

     </article>
     </section>
</div>
{{end}}