html {
    scroll-behavior: smooth;
}

body {
    word-spacing: -0.1rem;
}

.container, .container-fluid {
    margin: 0 auto;
    /* padding: 0 calc(var(--global-space) * 2); */
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 600px;
}

.quobix-header {
    position: fixed;
    max-width: var(--page-width);
    width: 98vw;
    background-color: var(--background-color);
    z-index: 1;

    left: 50%;
    top: 0%;
    transform: translateX(-50%);

}

#main-navigation {
    overflow-y: hidden;
    position: relative;
}


.logo a {
    font-size: 1.4rem;
}

#top-nav-divider {
    margin-top: 0px;
    margin-bottom: 0;

}

.main-container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.nav-container {
    width: 200px;
}


.main-container {
    flex: 1 0 auto;
}

.nav-container {
    width: 200px;
}

.nav-container ul {
    margin-top: 0;
}

.content-container {
    margin-top: 20px;
    width: 100%;
}


.content-container h1.article-title {
    font-size: 30px;
    word-spacing: -4px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px !important;
}

.content-container h1.about-title {
    font-size: 30px;
    word-spacing: -4px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 25px !important;
}


h1.list-title {
    font-size: 30px;
    word-spacing: -4px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px !important;
}


.about-body h2, h3, h4 {
    margin-top: 40px;
    font-size: 1.4em !important;
    border-bottom: 1px dashed rgb(73, 73, 73);
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.about-body  h3, h4 {
    font-size: 1.2em !important;
}
.about-body  h4 {
    font-size: 1em !important;
}


.article-body h2, h3, h4 {
    margin-top: 40px;
    font-size: 1.4em !important;
    border-bottom: 1px dashed rgb(73, 73, 73);
    line-height: 30px;
    padding-bottom: 10px;

}

.article-body  h3, h4 {
    font-size: 1.2em !important;
}
.article-body  h4 {
    font-size: 1em !important;
}

figcaption h4 {
    margin-top: 0;
    font-size: inherit;
    border-bottom: none;
}

hr.article-footer-divider { 
    clear: both;
}

.framed-content h1.article-title {
    padding-top: 0px;
}

.article-strapline, .about-strapline {
    margin-top: 10px;
}

.article-strapline, .about-strapline em {
    font-size: 20px;
    color: var(--tertiary-color)
}

.article-strapline, .article-strapline {
    margin-top: 10px;
}

.article-strapline, .article-strapline em {
    font-size: 20px;
    color: var(--tertiary-color)
}

.framed-content {
    margin: 0 auto;
    padding: 10px;
    /* width: 50rem; */
    display: block;
}

.framed-content hr {
    border-top: 1px dashed var(--hrcolor);
    border-bottom: 1px dashed var(--hrcolor);
    width: 250px;
    height: 1px;
    margin: 80px auto 80px auto
}

.terminal strong {
    color: var(--bold-text)
}


.menu-item span {
    padding: 3px;
}

.highlight pre {
    border: none;
    padding: 5px 0 0 5px;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.menu-item .active {
    background-color: var(--secondary-color);
    color: black;
    font-weight: 800;
}

article time {
    margin-bottom: 40px;
    font-size: 11px;
    color: var(--tertiary-color);
    display: block;
}


blockquote {
    width: 80%;
}
blockquote p {
    color: var(--tertiary-color);
    font-style: italic;
    margin-bottom: 0;
}

blockquote::after {
    color: var(--secondary-color)
}

.footer {
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    height: 40px;
    border-top: 1px dashed var(--tertiary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.footer hr {
    margin-top: 0;
    margin-bottom: 10px;
   

}

.homepage-link-title {
    font-size: 20px!important;
    margin: 0;
    padding: 0;
}


.generated-timestamp {
    color: #a2a2af;
    font-size: 12px;
    float: right;
}

section.article-body figure {
    width: 90%;
    margin: 0 auto;
}

figure>figcaption {
    color: var(--tertiary-color);
    text-align: center;
    font-style: italic;
    margin-bottom: 60px;
}

.terminal-card {
    margin-bottom: 50px;
}

.terminal-card>header {
    font-weight: bolder;
    font-size: 1.1rem;
}


.go-back-parent-link {
    margin-top: 20px;
}


/* chroma */
.chroma {
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to right, #171d25, var(--background-color))

}

/*boxes */
.terminal-alert {
    margin-top: 20px;
    margin-bottom: 20px;
}
.warning-box {
    border: 1px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
    
}

/* interesting things (list of things) */

ul.page-list {
    /* display: flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 365px));
    grid-gap: 2rem;
    list-style: none; 
    list-style-type: none;    
}


ul.page-list>li::after {
    content: "";
}

ul.page-list>li {
    padding-left: 0 !important;
}

.latest-page-item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 3rem;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: center;
    height: 100%;
    max-height: 300px;
}

.latest-page-item img {
    height: 100%;
    max-height: 300px;
    border: 1px dashed var(--secondary-color);
    padding: 5px;
}

.latest-page-item section {
    height: 300px;
}

.latest-page-item h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.latest-page-item h2 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.latest-page-item.homepage-item {
    margin-top: 10px;
    padding-top: 0;
}


.latest-page-item sub {
    color: var(--tertiary-color)
}

.article-hero-thumb {
    height: 190px;
    display:block;
}

hr.about-header-divider {
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-hero-thumb img {
    border: 1px dashed var(--secondary-color);
    padding: 5px;
}

li.page-list-item {
    margin-bottom: 40px;
    max-width: 365px;
}


li.page-list-item h3 {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 5px;
}

li.page-list-item p {
    margin-bottom: 5px;
}


li.page-list-item sub {
    color: var(--tertiary-color)
}

.screen-reader {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    color: rgba(255,255,255,0);
    pointer-events: none;
}



.about-details {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 3rem;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: center;
}

.profile-crop {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}
.profile-shot {
    width: 220px;
}


.image-grid {
    /* display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat( auto-fit, minmax(calc(var(--page-width) / 12), 1fr) );
    */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 365px));
    grid-gap: 2rem;
    margin-bottom: 30px;


    position: relative;

}
 .image-grid img {
     display:block;
     width: auto;
     height: auto;
     max-height: 400px;
     max-width: 285px ; 
     margin: 0 auto 20px auto;
     border: 1px dashed var(--secondary-color);
     padding: 5px;         
 }

 .image-grid img:hover {
    border: 1px dashed var(--primary-color);
}

 .image-grid-item figcaption {
    margin-bottom: 10px;
 }

figure.inline-figure figcaption {
    margin-bottom: 30px;
    margin-top: 20px;
}

.clear {
    clear: both;
}

/** mobile stuff */

@media only screen and (max-width: 600px) {
    .generated-timestamp {
        display: none;
    }
    article time {
        padding-top: 0;
    }

    figure {
        width: 100vw !important;
        margin-left: -20px!important;
    }

    .quobix-header {
        max-width: 95vw;
        width: 95vw;
        
    }

    .content-container {
        margin-top: 120px;
      
    }

    .container, .container-fluid {
        min-width: 100px;
    }

    .page-item {
        width: 320px !important;
    }

    .latest-page-item {
        display: block!important;
        height: inherit!important;
        max-height: initial;
    }
    .latest-page-item section {
        display: block!important;
        height: inherit!important;
    }
    .latest-page-item img {
        height: 190px!important;
    }

  
    .framed-content hr {
        margin: 50px auto 50px auto
    }

    .profile-crop {
       float: none;
       margin: 0 auto 40px auto;
    }

    .about-body h2, h3, h4 {
        line-height: 30px;
        padding-bottom: 10px;
    }
    
    #main-navigation {
        overflow-y: hidden;
        position: relative;
        transition: height 0.6s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        height: 150px;
    }
    
    #top-nav-divider {
        margin-top: 2px;
        opacity: 1;
        transition: opacity 0.9s;
        
    }
    
    #main-navigation.hide { 
        height: 0px;
    }
    
    #top-nav-divider.hide {
        opacity: 0;
    }

    
    .image-grid img {
       
        width: 100vw;
        max-width: initial;
    }
    
}
