<style>
    :root {
        --global-font-size: 17px;
        --toc-font-size: 0.7rem;
        --breadcrumb-font-size: 0.75rem;
        --childnav-font-size: 0.75rem;
        --nav-font-size: 0.95rem;
        --toc-font-header-size: 0.85rem;
        --rule-item-header-fontsize: 1.2rem;
        --rule-item-details-fontsize: 0.8rem;
        --rule-format-fontsize: 0.8rem;
        --rule-type-fontsize: 0.7rem;
        --rule-severity-fontsize: 0.8rem;
        --rule-recommended-fontsize: 0.7rem;
        --rule-function-fontsize: 0.8rem;

        --rule-recommended-banner-fontsize: 1rem;
        --rule-panel-label: 0.7rem;
        --rule-id-fontsize: 2rem;
        --global-line-height: 1.4em;
        --global-space: 10px;
        --vacuum-navigation-width-v: 199px;
        --vacuum-navigation-width: 200px;
        --font-stack: Menlo, Monaco, Roboto Mono, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
            serif;
        --mono-font-stack: Menlo, Monaco, Roboto Mono, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
            serif;
        --background-color: #0d1117;
        --background-color-alpha: rgba(13, 17, 23, 0.80);
        --rule-item-background: rgba(26, 32, 44, 0.51);
        --rule-recommended-background: rgb(33, 41, 55);
        --rule-stats-background: #0a0a0a;
        --rule-item-border: rgba(35, 43, 58, 0.9);
        --navigation-hover: #b685ff33;
        --navigation-child-selected: rgba(182, 133, 255, 0.26);
        --navigation-child-hover: rgba(179, 131, 250, 0.09);
        --navigation-child-container: rgba(182, 133, 255, 0.10);
        --page-width: 65em;
        --font-color: #e8e9ed;
        --invert-font-color: #222225;
        --secondary-color: #b685ff;
        --secondary-color-lowalpha: rgba(182, 133, 255, 0.73);
        --secondary-color-very-lowalpha: rgba(182, 133, 255, 0.23);
        --secondary-color-shadow: rgb(59, 41, 87);
        --secondary-color-shadow-mid: rgb(78, 54, 114);
        --tertiary-color: #a3abba;
        --primary-color: rgba(98, 196, 255, 1.0);
        --primary-color-lowalpha: rgba(98, 196, 255, 0.6);
        --error-color: #ff3c74;
        --error-font-color: #ff246b;
        --error-color-lowalpha: rgba(255, 60, 116, 0.4);
        --progress-bar-background: #3f3f44;
        --progress-bar-fill: #62c4ff;
        --code-bg-color: none;
        --input-style: solid;
        --display-h1-decoration: none;
        --bold-text: #e397fa;
        --terminal-green: #00FF00FF;
        --terminal-yellow: #fddb00;
        --hrcolor: #3d3d3d;
        --code-border: #525252;
        --string-literal: #fd66e5;
    }
</style>