<div class="quobix-header">
    <section class="terminal-nav" id="main-navigation">
        <header class="terminal-logo">
            <div class="logo terminal-prompt"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
        </header>
        <nav class="terminal-menu" id="header-menu">
            <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                {{- $current := . }}
                {{- range $k, $v := .Site.Menus.main }}
                {{- $active := eq .Name $current.Name}}
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="{{ $v.URL }}" itemprop="item" class="menu-item {{ if $current.IsMenuCurrent "main" . }}active{{end}}">
                        <span itemprop="name" class="{{ if $current.IsMenuCurrent "main" . }}active{{end}}">{{ $v.Name}}</span>
                        <meta itemprop="position" content="{{ add $k 1 }}">
                    </a>
                </li>
                {{- end}}
            </ul>
        </nav>
        <mobile-nav>
            <ul class="mobile-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="mobile-nav {{ if $currentPage.IsMenuCurrent "main" . }}active-section{{ end }}">

                {{ if .HasChildren }}
                {{ .Name }}
                {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
                {{ if .HasChildren }}
                <ul>
                    {{ range .Children }}
                    {{- $f := .Page}}
                    {{- if $f.Params.skip_nav }}<!--skip rendering -->{{ else }}
                    <li class="mobile-nav {{ if $currentPage.IsMenuCurrent "main" . }}active-section{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{end}}

                    {{ end }}
                </ul>
                {{ end }}
                </li>
                {{ end }}
            </ul>
        </mobile-nav>
    </section>
    <hr id="top-nav-divider">
</div>