{{ define "mainblock" }}
<div class="main-container">
     <main class="content-container">
          <article class="framed-content">
               <h1 class="about-title">Who am I?</h1>
               <div class="about-strapline">
                    <em>{{ .Params.strapline }}</em>
               </div>
               <hr class="about-header-divider" />
               <div class="profile-crop">
                    <img src="{{ .Site.BaseURL }}images/about/dave-shanley-profile-2022.png" height="220" width="220"
                         class="profile-shot" alt="a profile picture of Dave Shanley" title="Dave Shanley" />
               </div>
               <section class="about-body">
                    {{.Content}}
               </section>
          </article>
     </main>
</div>
{{end}}