{{ define "mainblock" }}
<div class="main-container">
    <main class="content-container">
        {{ partial "vacuum/navigation" . }}
        <section class="vacuum-content">
            {{ partial "vacuum/breadcrumb" . }}

            <h1 class="function-id">{{.Title}}</h1>

            {{ .Content }}

            <hr/>

            {{ if .Params.showList }}
            <section class="list">
            <div class="function-list">
                {{ range $index, $element := .Pages }}
                {{ $x := 0}}
                {{ if $element.Params.formats }}
                {{ $x = len $element.Params.formats  }}
                {{ $x = sub $x 1}}
                {{end}}
                <div class="function-list-item">
                    <h2 class="function-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                    <span class="function-description">
            {{ .Description }}
          </span>
                </div>
                {{ end }}
            </div>
        </section>
            {{ end }}
        </section>

    </main>
</div>
{{end}}